
.line {
    fill: none;
    stroke: #0075ff;
    stroke-width: 1;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #0075ff;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}