html,body
    letter-spacing 5px
.css-loader-wrap
    display flex
    flex-wrap wrap
    >div
        width 50%
        height 320px
        line-height 320px
        box-sizing border-box
        margin 10px 0
        text-align: center
        color #fff
        font-size 30px
        font-weight: bold
    .stylus
        background-image: url('../images/wallpapers.jpg')
        background-size cover