.grid {
  fill: #e8eaec;
}
.grid.things {
  fill: #ff9900
}
.grid.full {
  fill: #ed4014
}
.grid:hover {
  stroke: #17233d;
  stroke-width: 2.5;
}
.grid:focus {
  stroke: #0075ff;
  stroke-width: 2.5;
}